body{
  font-family: "Open Sans", sans-serif;
  color: #fff;
  position: relative;
  background: transparent;
}

body::before {
  content: "";
  position: fixed;
  background: #010e1b;
  left:0;
  right:0;
  top:0;
  height: 100vh;
}

@media (min-width: 1024px){
  body::before {
    background-attachment: 1024px;
  }
}

a {
  color : #12d640;
}

a:hover {
  color: #12d640;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}

.name-container{
    justify-content:center;
    display: flex;
}

.name{
 

}

/*media screen and (max-width: 600px) {
    header, nav, main, section, footer {
      padding: 10px;
    }
  }
  
  @media screen and (max-width: 400px) {
    header h1 {
      font-size: 24px;
    }
  } */